.default-dropdown {
  display: block;
  width: 100%;
  border-width: 1px;
  border-color: var(--color-grey-400);
  padding: 8px 14px;
  background-color: var(--color-theme-background);
}

.default-dropdown--placeholder {
  color: var(--color-grey-400);
}

.default-dropdown:focus:not(:disabled) {
  outline: none;
  border: 1px solid var(--color-primary);
}

.default-dropdown:hover:not(.ops-toggle-button--open):not(:disabled) {
  outline: none;
  border: 1px solid var(--color-grey-600);
}

.default-dropdown:disabled {
  background-color: var(--color-grey-200);
  cursor: default;
}
