.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  word-wrap: normal;
}

:not(.ops-list--non-interactive)
  > :not(.ops-list-item--disabled).ops-list-item--selected.is-active {
  background-color: transparent;
}

.ops-list-item--selected.is-active:after,
.is-active:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary-500);
  opacity: 0.05;
  z-index: -1;
}

.ops-toggle-button--open {
  border: 1px solid var(--color-primary);
}
