.dnm-label {
  display: block;
  color: var(--color-grey-600);
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.35;
  letter-spacing: inherit;
  font-style: normal;
}

.dnm-label--required::after {
  content: '*';
  margin: 0 3px;
  color: var(--color-red);
}
