.grid-summary {
  background-color: #fafafa;
  .summary {
    background-color: #fafafa;
    min-width: 50px;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    //   0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 10px;
    padding: 5px;
    width: 85px;
    height: 50px;

    span {
      display: block;
    }

    .name {
      font-size: 8px;
      text-transform: uppercase;
    }

    .value {
      font-size: 16px;
      font-weight: bold;
    }
  }
  .summary:nth-child(1) {
    border: 1px solid #eeeeee;
    background-color: #fff;
    border-radius: 7px;
  }
}

.summaries {
  display: flex;
}
