.resources-wrapper {
  overflow: auto;
}

.resource-layout {
  display: flex;
}

.content-placeholder {
  background: #fff;
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  /*span {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }*/
}

@import 'queryBuilder/index.scss';
@import 'grid-summary.scss';
@import 'grid.scss';
