.ops-navbar {
  position: relative;
  z-index: 1;
}

.analytics-apps-wrapper {
  display: flex;
  height: 100%;
  overflow: hidden;

  .content-placeholder {
    background: #fff;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /*span {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }*/
  }

  .header-section {
    display: flex;
    flex-direction: row;
    width: 100%;

    .header-text {
      flex-grow: 2;
      font-size: 20px;
    }
  }
}

#AnalyticsAppsUI-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 76px;
}
